body{
    position: relative;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
}

#particles{
            background: url('../images/mobile.jpg');
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            height: 650px;
            }

#header{
            width: 100%;
            position: fixed;
            top:0%;
            padding: 0px;
            z-index: 200;
            background: rgba(0,0,0,0.25);
            border-bottom: 1px solid rgba(255,255,255,0.25);
            box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3), 0 0 0 1px rgba(0,0,0,0.15);
            }

#header h1{
            background: rgba(0,0,0,0.3);
            display: inline-block;
            padding: 21px 25px;
            margin: 0;
            color: #fff;
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 0.5px;
            font-family: 'Roboto Slab', sans-serif;
            border-right: 1px solid rgba(255,255,255,0.25);
            }
#header ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            margin-right: 20px;
            }
#header ul li {
            font-family: 'Open Sans', sans-serif;
            display: inline-block;
            margin: 0px; 
            font-weight: 700;
            }
#header ul li a {
            display: inline-block;
            color: #b1b1b1;
            text-decoration: none;
/*            text-shadow: 1px 1px;*/
            position: relative;
            padding: 24px 20px;
            }
#header ul li span {
    position: relative;
    top: 35px;
    right: 28px;
    transition: all 0.4s;
    color: orange;
    opacity: 0;
        font-size: 20px;
}

#header ul li:hover span {
    opacity: 1;
    top: 49px;
}
#header ul li a:after {
            content: "";
            position: absolute;
            border: 1px solid orange;
            width: 20%;
            bottom: 0px;
            left: 25%;
            transition: 0.5s;
            opacity: 0;
            }
#header ul li:hover a:after {
            width: 100%;
            left: 0%;
            opacity: 1;
            }
#header ul li:hover a{
            color: #fff;
            }
#btn{
            position: absolute;
            top: 13px;
            right: 4%;
            z-index: 20;
            color: white;
            font-size: 25px;
        }
.move{
    background: rgba(0,0,0, .7);
}
@media(max-width:991px){
      #main-nav{
            display: none;
            width: 185%;
            position: absolute;
            top:70%;
            z-index: 2;
            left: -6%;
            }
      #main-nav ul li {
            background-color:rgba(0,0,0,0.5);
            display: block;
            top: 19%;
            z-index: 1;
            width:100%;
            font-size: 25px;
            text-align: center;
            font-weight: bold;
            left: -6%;
            }
    #header h1{
            color: goldenrod;;
            margin: 5%;
            font-size: 30px;
            font-family:"Shrikhand",cursive;
            margin-top: 3%;
            }
            }
@media(max-width:767px){
      #main-nav{
            display: none;
            width: 121%;
            position: absolute;
            top: 60%;
            z-index: 2;
            left: -16%;
            }  
      #main-nav ul li { 
           background-color:rgba(0,0,0,0.5);
           display: block;
           top: 19%;
           z-index: 1;
           width:115%;
           font-size: 25px;
           text-align: center;
           font-weight: bold;
           left: -10%;
           }  
           }

.project{
    text-align: center;
    color: darkkhaki;
    position: fixed;
    top: 15%;
    z-index: 10000;
    background: rgba(0,0,0, .9);
    display: none;
}
.project .project_image img{
    max-height: 150px;
    margin-bottom: 20px;
    border: 1px inset white;
    border-radius: 4px;
}
.project .heading h1{
    font-family: "Shrikhand",cursive;
    letter-spacing: 1.5px;
}
.project .project_details {
    font-family: "Lemonada",serif;
    line-height: 24px;
    
}
.project .close{
    position: absolute;
    top: 1px;
    background-color: white;
    right: 1px;
    padding: 4px;
    border: 4px solid white;
    border-radius: 50%;
    opacity: 0.7;
}
.hide{
    display: none;
}

#section_1 {
    padding-bottom: 50px;
}

#section_1,#section_3{
    width: 100%;
    background-color:#333;
    color: #C7C7C7;
}
#section_1 .heading,#section_2 .heading,#section_3 .heading,#section_4 .heading {
    width: 100%;
    text-align: center;
}
#section_1 .heading h1,#section_2 .heading h1,#section_3 .heading h1,#section_4 .heading h1{
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin: 0px;
}

#section_1 .heading h2 {
    padding-top: 20px;
}

#section_1 .row{
    padding-bottom: 40px;
}
#section_1 .border{
    cursor: pointer;
}
#section_1 .border  .image{
    overflow: hidden;      
}
#section_1 .border .image img{
    width: 100%;
    transition: all 1s linear;
}
#section_1 .border:hover img{
    width: 100%;
    transform: scale(1.3);    
}
#section_1 .overlay{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px; 
    background-color: rgba(0, 0, 0, 0.6);
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
#section_1 .row .border:hover .overlay{
    opacity: 1;
}
#section_1 .overlay h4{
    background-color: #7F8C8D;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    margin-top: 30px;
}
#section_1 .photozoom:before{
    opacity: 0;    
    content: "";
    border-style: none solid solid none;
    border-width: 0 110px 110px 0;
    border-color: rgba(0, 255, 255, 0) rgba(255, 0, 255, 0) rgba(149, 165, 166, 1) rgba(255, 255, 10, 0);
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    position: absolute;
    -webkit-transform:rotate(-90deg) ;
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform:rotate(-90deg);
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;
}
#section_1 .border:hover .photozoom:before{
    z-index: 1;
    opacity:1;
    transform: rotate(-90deg);
    transform: rotate(-90deg) scale(1) translatex(0px) translatey(0px);
}
#section_1 .photozoom .fa{
    z-index: 1;
    opacity: 0;
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: #fff;
    -moz-transition: all 0.9s ease-in;
    -o-transition: all 0.9s ease-in;
    -webkit-transition: all 0.9s ease-in;
    transition: all 0.9s ease-in;
    -moz-transform: scale(0) translatex(40px) translatey(40px);
    -ms-transform:scale(0)  translatex(40px) translatey(40px);
    -o-transform: scale(0) translatex(40px) translatey(40px);
    -webkit-transform: scale(0) translatex(40px) translatey(40px);
    transform: scale(0)translatex(40px) translatey(40px);
    font-size: 30px;
}
#section_1 .border:hover .fa{
    opacity: 1;
    transform: scale(1) translate(0,0) ;
}
@media(max-width:640px){
   #section_1  .heading h1 {
    font-size: 30px;
    margin-left: 65px;
    }
}

#section_2,#section_4 {
    background-image: url("../images/team.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    position: relative;
}
#section_2{
     height: 500px;
}
#section_2 .heading,#section_4{
    color: white;
}
#section_2 ul li {
    display: inline-block;
    margin: 0px 40px;
}
#section_2 ul li a .dimg{
    box-shadow: inset 0 0 0 17px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    position: relative;
    transition: all 0.35s ease-in-out;
    z-index:1 ;
}
#section_2 ul li a .dimg img{
    border: 13px solid transparent ;
    border-radius: 50%;
    }
#section_2 ul li a .info{
    transform: translateY(100%);
    background: #333333!important;
    opacity:0 ;
    pointer-events: none;
    transition: all 0.35s ease-in-out;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    color: white;
    padding: 10px;
    font-size: 100%;
    font-family: 'Courgette', cursive;
    height: 250px;
    width: 250px
}
#section_2 ul li a .info h3{
    margin: 30px;
    border-bottom: 1px solid  #ff3466;
    font-family: 'Lemonada', cursive;
}
#section_2 ul li a:hover .dimg{
    transform: scale(0.5) translateY(-50%);
}
#section_2 ul li a:hover .info{
    opacity: 1;
    transform: translateY(70%);
}
@media(max-width: 1200px){
    #section_2 ul li{
        margin: 0px 26px;
    }
}
@media(max-width:992px){
    #section_2{
        height: 680px;
        }
    #section_2 ul li a .info{
        padding: 32px;
        font-size: 95%;
        height: 230px;
        width: 230px;
    }
    #section_2 ul li:last-child a .info{
        transform: translateY(206%);
    }
    #section_2 ul li:last-child a:hover .info{
        transform: translateY(171%);
    }
}

@media(max-width: 767px){
    #section_2 ul li{
        margin: 0px 17px;
    }
}
@media(max-width:640px){
    #section_2{
        height:950px;
        }
    #section_2 ul li{
        margin: 9px 26px 25px 26px;
    }
    #section_2 ul li a .info{
        padding: 24px;
        font-size: 74%;
        height: 200px;
        width: 200px;
    }
    #section_2 ul li:first-child a .info{
        transform: translateY(115%);
    }
    #section_2 ul li:first-child a:hover .info{
        transform: translateY(86%);
    }
    #section_2 ul li:nth-child(2) a .info{
        transform: translateY(256%);
    }
    #section_2 ul li:nth-child(2) a:hover .info{
        transform: translateY(216%);
    }
    #section_2 ul li:last-child a .info{
        transform: translateY(360%);
    }
    #section_2 ul li:last-child a:hover .info{
        transform: translateY(351%);
    }
}
#section_3 .row{
    text-align: center;
    width: 100%;
    margin: 50px 100px 0px 0px;
    padding-left: 18%;
    padding-bottom: 50px;
}
#section_3 .icon{
    width: 170px;
    height: 150px;
    margin: 0 0px 40px 0px;
    padding: 20px;
    background-color:darkkhaki;
    border-radius: 50%;
    -webkit-transform: rotate(0) scale(1);
    -ms-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    -webkit-transition: color 0.3s, border-color 0.3s, background-color 0.3s, -webkit-transform 0.3s;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s, transform 0.3s;
}
#section_3 .fa{
    font-size: 100px;
    color: white;
}
#section_3 .icon:hover{
    color: darkkhaki;
    background-color: transparent;
    -webkit-transform: rotate(360deg) scale(1.5);
    -ms-transform: rotate(360deg) scale(1.5);
    transform: rotate(360deg) scale(1.5);
}
@media(max-width:992px){
    .col-sm-4{
        padding: 0px;
    }
    #section_3 .row{
        padding-left: 11%;
    }
}
@media(max-width:767px){
    #section_3 .row{
        padding-left: 40%;
    }
}
@media(max-width:480px){
    #section_3 h1{
        margin-left: 90px;
    }
    #section_3 .icon{
        width: 140px;
        height: 120px;
        margin: 0 0px 57px 10px;
        padding: 9px;
    }
    #section_3 .fa{
        font-size: 92px;
    }
}
@media(max-width:360px){
    #section_3 .row{
        padding-left: 32%;
    }
}

#text-field{
    resize: none;
}

#section_4 .field{
    margin: 10px;
    width: 90%;
    padding: 8px 15px;
    border-color: #ffffff;
    border-radius: 4px;
    background: transparent;
    border: 1.5px solid #fff;
    color: white;
}
#section_4 .field:focus{
    outline: none;
    border-color:#ccc;
}
::-webkit-input-placeholder {
    color: #fff ;
}
::-moz-placeholder {
    color: #fff;
}
button{
   background: transparent;
   /* display: inline-block;*/
    width:200px;
    height: 50px;
    font-weight: 500;
    border-radius: 6px;
    border: 1px solid white;
    margin: 20px;
}
button span{
    padding: 10px;
}
button:hover .fa{
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    color:darkkhaki;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
}
/*#section_4 button{
    color: white;
    font-size: 16px;
    border: 1.5px solid white;
    }*/
#section_4 button .fa{
    margin-left: 5px;
}

#section_4 .row {
    padding: 0 2.5%;
}

@media(max-width:480px){
   #section_4 .heading h1 {
    margin-left: 74px;
    }
    #section_4 button{
        width: 150px;
        font-size: 13px;
    }
}

 #footer{
    background-color: #222;
     padding: 30px;
     padding-bottom: 20px;
     border-top: 1px solid rgba(255,255,255,0.2);
}/*
#footer .heading h2{
    color: grey;
    line-height: 1px;
}
.srch input{
    width:80%;
    margin-left: 3%;
    background-color: rgba(0,0,0,0.5);
    height: 40px;
    position: relative;
}
.srch button{
    width: auto;
    background-color: #3BE8B0;
    height: 40px;
    color: white;
    font-size: 23px;
    position: absolute
}
.srch button:hover{
    background-color: red;
}
.desc_foot h2{
    color: white;
    text-align: center;
}
.desc_foot ul li{
    color: #B2B2B2;
    display: block;
}
.desc_foot ul li a{
    color: #B2B2B2;
    padding-left: 20%;
    
}*/
.copyrght{
    color: #A6A6A6; 
    text-align: center;
}
.copyrght h4{
    margin: 0px;
    padding-bottom: 10px;
    font-size: 14px;
    
}
.copyrght span{
    color: #3BE8B0;
}

#logos_9{
    text-align: center;
    padding-top: 20px;
}
 #logos_9  ul li a{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../images/img-sprite.png) no-repeat 0px 0px;
    background-size: 300px;
    text-align: right;
}
#logos_9 ul li{
    display: inline-block;
    padding: 2px;
}
#logos_9 a .fb{
        background-position: 0px 0px;
}#logos_9 a.twt{
        background-position: -30px 0px;
}
#logos_9 a.go{
        background-position: -60px 0px;
}
#logos_9 a.in{
        background-position: -90px 0px;
}
#logos_9 a.blog{
        background-position: -120px 0px;
}
#logos_9 a.tumb{
        background-position: -150px 0px;
}
#logos_9 a.rss{
        background-position: -180px 0px;
}
#logos_9 a.yt{
        background-position: -210px 0px;
}
#logos_9 a.vmo{
        background-position: -240px 0px;
}
#logos_9 a.dv{
        background-position: -270px 0px;
}
#logos_9 a.fb:hover{
    background-position: 0px -30px;
    transition: 0.5s;
    transform: scale(1.2);
}
#logos_9 a.twt:hover{
    background-position: -30px -30px;
     transition: 0.5s;
     transform: scale(1.2);
}
#logos_9 a.go:hover{
    background-position: -60px -30px;
     transition: 0.5s;
     transform: scale(1.2);
}
#logos_9 a.in:hover{
    background-position: -90px -30px;
     transition: 0.5s;
     transform: scale(1.2);
}
#logos_9 a.blog:hover{
    background-position: -120px -30px;
     transition: 0.5s;
     transform: scale(1.2);
}
#logos_9 a.tumb:hover{
    background-position: -150px -30px;
     transition: 0.5s;
     transform: scale(1.2);
}
#logos_9 a.rss:hover{
    background-position: -180px -30px;
     transition: 0.5s;
     transform: scale(1.2);
}
#logos_9 a.yt:hover{
    background-position: -210px -30px;
     transition: 0.5s;
     transform: scale(1.2);
}
#logos_9 a.vmo:hover{
    background-position: -240px -30px;
     transition: 0.5s;
     transform: scale(1.2);
}
#logos_9 a.dv:hover{
    background-position: -270px -30px;
     transition: 0.5s;
     transform: scale(1.2);
}
/*@media(max-width:640px){
    .copyrght h3{
    font-size: 18px;
    }
}
@media(max-width:420px){
    .srch button{
        width: auto;
        background-color: #3BE8B0;
        height: 40px;
        color: white;
        font-size: 18px;
        position: absolute;
    }
}*/



#intro {
    position: absolute;
    top: 220px;
}

#intro h1 {
    color: #f1f1f1;
    padding: 0 5%;
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
    line-height: 50px;
}

#intro h2 {
    margin-top: 80px;
    color: #f1f1f1;
    padding: 0 5%;
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
    line-height: 50px;
}


#wwd-wrapper {
    background: #333;
    padding: 40px 20px;
    border-top: 1px solid rgba(255,255,255,0.2);
}

#wwd-wrapper>h3 {
    color: #fff;
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.5px;
}

#wwd-wrapper hr{
    border: none;
    border-top: 3px solid orange;
    width: 60px;
}

.card-wrapper {
    transform: rotate(40deg) scale(0.75);
    transition: all 0.5s ease-out;
}

.card-wrapper:first-child {
    transform: rotate(-70deg) scale(0.8);
    transition: all 0.5s ease-out;
}

.card {
    background: rgba(255,255,255,0.6);
    width: 90%;
    margin: auto;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 0 10px -1px rgba(0,0,0,0.5);
    transition: all 0.5s ease-out;
    padding: 20px;
    cursor: pointer;
    transform: rotate(70deg);
}

.card-wrapper:hover .card {
    transform: rotate(-45deg);
    background: rgba(255,255,255,0.9);
}

.card-wrapper:hover {
    background: #11c7a6;
    transform: rotate(45deg) scale(1);
}


.card img {
    height: 200px;
    width: 200px;
}

.card h3 {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #b1b1b1;
}

.card p {
    text-align: left;
}

#section_4-shadow {
/*    background: rgba(0,0,0,0.5);*/
/*    border-top: 1px solid rgba(0,0,0,0.1);*/
}

#projects {
    padding: 40px 20px;
    background: #555;
}

#project-box-1,
#project-box-2 {
    overflow: auto;
    padding-bottom: 30px;
}

#project-box-1 {
    position: relative;
    left: 0;
    transition: all 0.8s ease-out;
}


#project-box-2 {
    position: relative;
    margin-top: -415px;
    left: 100%;
    transition: all 0.8s ease-out;
}

#projects .col-sm-4 {
}

.project-card {
,     text-align: center;
    box-shadow: 0 0 10px -1px rgba(0,0,0,0.3), 0 0 14px -1px rgba(0,0,0,0.4); 
    border-radius: 3px;
    transition: all 0.5s;
    background: #222;
    overflow-y: hidden;
    width: 30%;
    margin-right: 3%;
    float: left;
}

.project-card.right {
    margin-top: 80px;
}

.project-card img{
    position: relative;
    top:0;
    width: 100%;
    margin: auto;
    margin-left: 0;
    border-radius: 3px;
    transition: all 0.5s ease-out;
}

.project-card:hover img{
    top: -70px;
    opacity: 0.4;
    border-radius: 0px;
    animation-name: bounce;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
}

@keyframes bounce {
    0%   {top: -0;}
    15%  {top: -130px;}
    30%  {top: -70px;}
    45%  {top: -100px;}
    60%  {top: -70px;}
    75%  {top: -80px;}    
    90%  {top: -70px;}
    100% {top: -70px;}
}

h1.heading{
    font-size: 32px;
    color: #e1e1e1;
    text-align: center;
    margin-bottom: 50px;
}

.project-info {
    background: #222;
    width: 100%;
    padding: 5px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: -70px;
}

.project-info h3 {
    font-family: "Roboto Slab", sans-serif;
    margin: 5px 0;
    color: #d1d1d1;
}

#more-pro {
    text-align: center;
    margin-top: 15px;
}

#more-pro a {
    text-decoration: none;
    margin: 5px 0;
    color: #c5c5c5;
}

#contact-form {
    margin-top: 50px;
}

#contact-form input {
    border: none;
    background: rgba(0,0,0,0.3);
}

/* Social Buttons */

.btn-social{padding: 8px; position:relative;padding-left:50px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social :first-child{position:absolute;left:0;top:0;bottom:0;width:40px;line-height:40px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2);}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding-left:0;padding-right:0}.btn-social-icon :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon :first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-google-plus{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{color:#fff;background-color:#ca3523;border-color:rgba(0,0,0,0.2)}
.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{background-image:none}
.btn-google-plus.disabled,.btn-google-plus[disabled],fieldset[disabled] .btn-google-plus,.btn-google-plus.disabled:hover,.btn-google-plus[disabled]:hover,fieldset[disabled] .btn-google-plus:hover,.btn-google-plus.disabled:focus,.btn-google-plus[disabled]:focus,fieldset[disabled] .btn-google-plus:focus,.btn-google-plus.disabled:active,.btn-google-plus[disabled]:active,fieldset[disabled] .btn-google-plus:active,.btn-google-plus.disabled.active,.btn-google-plus[disabled].active,fieldset[disabled] .btn-google-plus.active{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
.btn-instagram{color:#fff;background-color:#517fa4;border-color:rgba(0,0,0,0.2)}.btn-instagram:hover,.btn-instagram:focus,.btn-instagram:active,.btn-instagram.active,.open .dropdown-toggle.btn-instagram{color:#fff;background-color:#446a89;border-color:rgba(0,0,0,0.2)}
.btn-instagram:active,.btn-instagram.active,.open .dropdown-toggle.btn-instagram{background-image:none}
.btn-instagram.disabled,.btn-instagram[disabled],fieldset[disabled] .btn-instagram,.btn-instagram.disabled:hover,.btn-instagram[disabled]:hover,fieldset[disabled] .btn-instagram:hover,.btn-instagram.disabled:focus,.btn-instagram[disabled]:focus,fieldset[disabled] .btn-instagram:focus,.btn-instagram.disabled:active,.btn-instagram[disabled]:active,fieldset[disabled] .btn-instagram:active,.btn-instagram.disabled.active,.btn-instagram[disabled].active,fieldset[disabled] .btn-instagram.active{background-color:#517fa4;border-color:rgba(0,0,0,0.2)}
.btn-linkedin{color:#fff;background-color:#007bb6;border-color:rgba(0,0,0,0.2)}.btn-linkedin:hover,.btn-linkedin:focus,.btn-linkedin:active,.btn-linkedin.active,.open .dropdown-toggle.btn-linkedin{color:#fff;background-color:#005f8d;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:active,.btn-linkedin.active,.open .dropdown-toggle.btn-linkedin{background-image:none}
.btn-linkedin.disabled,.btn-linkedin[disabled],fieldset[disabled] .btn-linkedin,.btn-linkedin.disabled:hover,.btn-linkedin[disabled]:hover,fieldset[disabled] .btn-linkedin:hover,.btn-linkedin.disabled:focus,.btn-linkedin[disabled]:focus,fieldset[disabled] .btn-linkedin:focus,.btn-linkedin.disabled:active,.btn-linkedin[disabled]:active,fieldset[disabled] .btn-linkedin:active,.btn-linkedin.disabled.active,.btn-linkedin[disabled].active,fieldset[disabled] .btn-linkedin.active{background-color:#007bb6;border-color:rgba(0,0,0,0.2)}
.social-buttons{position: fixed;right: -28.8%;top: 40%;z-index: 10000;}
.btn-facebook , .btn-google-plus , .btn-instagram , .btn-linkedin{transform: translateX(0%) !important;transition: all 0.5s linear;padding-top: 10px;padding-bottom: 10px;}
.btn-facebook:hover, .btn-google-plus:hover , .btn-instagram:hover, .btn-linkedin:hover{transform: translateX(-50%) !important;}



ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:focus {
  outline: 0;
}


audio, canvas, picture, progress, video {
  display: inline-block;
}

template {
  display: none;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.u-isVisuallyHidden {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

.withanes {
  display: block;
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 24px;
  height: 32px;
}
.withanes:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 2px;
  height: 2px;
  box-shadow: 8px 2px #795f41, 10px 2px #795f41, 12px 2px #795f41, 14px 2px #795f41, 16px 2px #795f41, 18px 2px #795f41, 6px 4px #795f41, 8px 4px #795f41, 10px 4px #795f41, 12px 4px #795f41, 14px 4px #795f41, 16px 4px #795f41, 18px 4px #795f41, 20px 4px #795f41, 4px 6px #795f41, 6px 6px #795f41, 8px 6px #e9d8bc, 10px 6px #795f41, 12px 6px #795f41, 14px 6px #795f41, 16px 6px #795f41, 18px 6px #cbb490, 20px 6px #795f41, 22px 6px #795f41, 4px 8px #795f41, 6px 8px #e9d8bc, 8px 8px #e0c9a4, 10px 8px #e0c9a4, 12px 8px #e0c9a4, 14px 8px #e0c9a4, 16px 8px #e0c9a4, 18px 8px #cbb490, 20px 8px #cbb490, 22px 8px #795f41, 2px 10px #7e6f5d, 4px 10px #e9d8bc, 6px 10px #e0c9a4, 8px 10px #e0c9a4, 10px 10px #e0c9a4, 12px 10px #e0c9a4, 14px 10px #e0c9a4, 16px 10px #e0c9a4, 18px 10px #e0c9a4, 20px 10px #cbb490, 22px 10px #cbb490, 24px 10px #7e6f5d, 2px 12px #7e6f5d, 4px 12px #e9d8bc, 6px 12px #e0c9a4, 8px 12px #e0c9a4, 10px 12px #e0c9a4, 12px 12px #e0c9a4, 14px 12px #e0c9a4, 16px 12px #e0c9a4, 18px 12px #e0c9a4, 20px 12px #e0c9a4, 22px 12px #cbb490, 24px 12px #7e6f5d, 2px 14px #7e6f5d, 4px 14px #e9d8bc, 6px 14px #e0c9a4, 8px 14px #cbb490, 10px 14px #cbb490, 12px 14px #e0c9a4, 14px 14px #e0c9a4, 16px 14px #cbb490, 18px 14px #cbb490, 20px 14px #e0c9a4, 22px 14px #cbb490, 24px 14px #7e6f5d, 2px 16px #b6a281, 4px 16px #e9d8bc, 6px 16px #e0c9a4, 8px 16px #000000, 10px 16px #000000, 12px 16px #e9d8bc, 14px 16px #e0c9a4, 16px 16px #000000, 18px 16px #000000, 20px 16px #e0c9a4, 22px 16px #cbb490, 24px 16px #b6a281, 2px 18px #cbb490, 4px 18px #e9d8bc, 6px 18px #e0c9a4, 8px 18px #e0c9a4, 10px 18px #e0c9a4, 12px 18px #e9d8bc, 14px 18px #e0c9a4, 16px 18px #e0c9a4, 18px 18px #e0c9a4, 20px 18px #e0c9a4, 22px 18px #cbb490, 24px 18px #cbb490, 4px 20px #795f41, 6px 20px #e0c9a4, 8px 20px #e0c9a4, 10px 20px #e0c9a4, 12px 20px #e9d8bc, 14px 20px #e0c9a4, 16px 20px #e0c9a4, 18px 20px #e0c9a4, 20px 20px #e0c9a4, 22px 20px #795f41, 4px 22px #795f41, 6px 22px #e0c9a4, 8px 22px #e0c9a4, 10px 22px #e0c9a4, 12px 22px #cbb490, 14px 22px #cbb490, 16px 22px #e0c9a4, 18px 22px #e0c9a4, 20px 22px #cbb490, 22px 22px #795f41, 4px 24px #795f41, 6px 24px #795f41, 8px 24px #795f41, 10px 24px #795f41, 12px 24px #795f41, 14px 24px #795f41, 16px 24px #795f41, 18px 24px #795f41, 20px 24px #795f41, 22px 24px #795f41, 6px 26px #795f41, 8px 26px #795f41, 10px 26px #e0c9a4, 12px 26px #e0c9a4, 14px 26px #e0c9a4, 16px 26px #b6a281, 18px 26px #795f41, 20px 26px #795f41, 8px 28px #7e6f5d, 10px 28px #e0c9a4, 12px 28px #7e6f5d, 14px 28px #7e6f5d, 16px 28px #b6a281, 18px 28px #7e6f5d, 8px 30px #7e6f5d, 10px 30px #795f41, 12px 30px #7e6f5d, 14px 30px #7e6f5d, 16px 30px #795f41, 18px 30px #7e6f5d, 10px 32px #7e6f5d, 12px 32px #7e6f5d, 14px 32px #7e6f5d, 16px 32px #7e6f5d;
}

.withanes-name {
  box-sizing: border-box;
  position: absolute;
  bottom: 4px;
  right: 16px;
  padding: 5px 7px;
  /*     width: 0; */
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  background-color: red;
  opacity: 0;
  transform: translateX(0);
  color: black;
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 250ms ease-in-out, width 0 linear 250ms, transform 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.withanes-name:after {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  z-index: 2;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid white;
  position: absolute;
  top: calc(50% - 5px);
  right: -6px;
}

.withanes:hover .withanes-name {
  /*     width: 120px; */
  overflow: visible;
  opacity: 1;
  transform: translateX(-20px) rotate(0deg);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.33);
  transition: opacity 125ms ease-in-out 100ms, transform 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.withanes:hover:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -20px;
}

.withanes-name > .heart {
  margin: 0 3px;
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #D13E35;
  transform: rotate(45deg);
}
.withanes-name > .heart:before, .withanes-name > .heart:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 6px;
  height: 6px;
  top: 0;
  left: 0;
  background-color: #D13E35;
  border-radius: 50%;
}
.withanes-name > .heart:before {
  left: -3px;
}
.withanes-name > .heart:after {
  top: -3px;
}

.grid {
  display: block;
  /* IE9 fallback for Flex */
  display: flex;
  /* Using Flex for equal height containers */
  flex-wrap: wrap;
  /* Children need to wrap */
  margin-top: -20px;
  margin-left: -20px;
  align-items: stretch;
  /* For equal height */
  font-size: 0;
  /* Horiontal gap fix for inline-block fallback */
}

.grid + .grid {
  margin-top: 0;
  /* reset margin on stacked grids */
}

.grid-col {
  box-sizing: border-box;
  /* Using box-sizing so padding doesn't affect width */
  display: inline-block;
  /* IE9 fallback */
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  vertical-align: top;
  font-size: 16px;
  /* Resetting font-size for horizontal gap fix */
}

.grid-col_1of12 {
  width: 8.33333%;
}

.grid-col_2of12 {
  width: 16.66667%;
}

.grid-col_3of12 {
  width: 25%;
}

.grid-col_4of12 {
  width: 33.33333%;
}

.grid-col_5of12 {
  width: 41.66667%;
}

.grid-col_6of12 {
  width: 50%;
}

.grid-col_7of12 {
  width: 58.33333%;
}

.grid-col_8of12 {
  width: 66.66667%;
}

.grid-col_9of12 {
  width: 75%;
}

.grid-col_10of12 {
  width: 83.33333%;
}

.grid-col_11of12 {
  width: 91.66667%;
}

.grid-col_12of12 {
  width: 100%;
}

@media (min-width: 768px) {
  .grid-col_1of12SM {
    width: 8.33333%;
  }

  .grid-col_2of12SM {
    width: 16.66667%;
  }

  .grid-col_3of12SM {
    width: 25%;
  }

  .grid-col_4of12SM {
    width: 33.33333%;
  }

  .grid-col_5of12SM {
    width: 41.66667%;
  }

  .grid-col_6of12SM {
    width: 50%;
  }

  .grid-col_7of12SM {
    width: 58.33333%;
  }

  .grid-col_8of12SM {
    width: 66.66667%;
  }

  .grid-col_9of12SM {
    width: 75%;
  }

  .grid-col_10of12SM {
    width: 83.33333%;
  }

  .grid-col_11of12SM {
    width: 91.66667%;
  }

  .grid-col_12of12SM {
    width: 100%;
  }
}
@media (min-width: 960px) {
  .grid-col_1of12MD {
    width: 8.33333%;
  }

  .grid-col_2of12MD {
    width: 16.66667%;
  }

  .grid-col_3of12MD {
    width: 25%;
  }

  .grid-col_4of12MD {
    width: 33.33333%;
  }

  .grid-col_5of12MD {
    width: 41.66667%;
  }

  .grid-col_6of12MD {
    width: 50%;
  }

  .grid-col_7of12MD {
    width: 58.33333%;
  }

  .grid-col_8of12MD {
    width: 66.66667%;
  }

  .grid-col_9of12MD {
    width: 75%;
  }

  .grid-col_10of12MD {
    width: 83.33333%;
  }

  .grid-col_11of12MD {
    width: 91.66667%;
  }

  .grid-col_12of12MD {
    width: 100%;
  }
}
.blocks {
  margin: -30px 0 0 -30px;
  /* offset blocks horizontal and vertical spacing - must match padding of blocks items */
  font-size: 0;
  /* remove inline block whitespace */
}

.blocks > * {
  box-sizing: border-box;
  display: inline-block;
  padding: 30px 0 0 30px;
  /* space blocks horizontally and vertically - offset is handled by .blocks */
  font-size: 16px;
  /* return the font size */
}

.blocks_2up > * {
  width: 50%;
}

.blocks_3up > * {
  width: 33.33333%;
}

.blocks_4up > * {
  width: 25%;
}

.u-srOnly {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ima {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
}

.body, .arm, .head, .eyes, .mug, .steam, .contactme, .arrow, .thoughts, .bubble, .formtoggle {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/15979/about-character.png) 0 0 no-repeat;
}

.character, .body, .arm, .head, .eyes, .mug, .steam, .contactme, .arrow, .thoughts, .bubble, .formtoggle {
  background-size: 1070px;
  position: absolute;
  display: block;
}

.contactcharacter {
  position: relative;
  display: block;
  overflow: hidden;
  /*background: #efefef;*/
  background: url('../images/team.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.contactcharacter .contentwrapper {
  width: 1280px;
  height: 750px;
  margin: 10px auto 0;
  position: relative;
  transition: height 1s ease-in-out;
}
.contactcharacter .character {
  width: 100%;
  height: 750px;
  margin: 0 auto;
  bottom: 0px;
  transition: height 1s ease-in-out;
}
.contactcharacter .body {
  width: 900px;
  height: 425px;
  bottom: -9px;
  left: 0;
  background-position: 0px 0px;
}
.contactcharacter .arm {
  width: 445px;
  height: 115px;
  bottom: -50px;
  left: 25px;
  background-position: -19px -1094px;
  transform: rotateZ(-58deg);
  transform-origin: 2% 50%;
  transition: all .5s ease-in-out;
}
.contactcharacter .arm.active {
  transform: rotateZ(0deg);
}
.contactcharacter .head {
  width: 235px;
  height: 337px;
  bottom: 294px;
  left: 250px;
  background-position: -506px -1093px;
  transform: rotateZ(-24deg);
  transform-origin: 50% 82%;
  transition: all 0.75s cubic-bezier(0.34, -0.305, 0, 1);
}
.contactcharacter .head.caffeine {
  animation: twitch 1s ease-in-out infinite;
}
.contactcharacter .head.active {
  transform: rotateZ(0deg);
}
.contactcharacter .eyes {
  width: 110px;
  height: 25px;
  top: 160px;
  left: 63px;
  background-position: -788px -1246px;
  animation: blink 10s steps(2) infinite;
}
.contactcharacter .caffeine .eyes {
  animation: blink-fast 1s steps(2) infinite;
}
.contactcharacter .mug {
  width: 184px;
  height: 188px;
  bottom: -3px;
  right: 180px;
  background-position: -732px -857px;
}
.contactcharacter .mug .steam {
  animation: steam 3s ease-in-out infinite alternate;
  opacity: 0.5;
}
.contactcharacter .mug .steam:nth-child(1) {
  width: 34px;
  height: 158px;
  top: -140px;
  left: 30px;
  background-position: -537px -855px;
  animation-delay: 0s;
}
.contactcharacter .mug .steam:nth-child(2) {
  width: 37px;
  height: 194px;
  top: -187px;
  left: 80px;
  background-position: -594px -855px;
  animation-delay: 2s;
}
.contactcharacter .mug .steam:nth-child(3) {
  width: 38px;
  height: 187px;
  top: -170px;
  left: 131px;
  background-position: -658px -855px;
  animation-delay: 1s;
}
.contactcharacter .thoughts {
    width: 751px;
    height: 390px;
  top: 0px;
  right: 0px;
    background-position: -321px -459px;
  animation: bob 4s ease-in-out infinite alternate;
  transition: all 1s cubic-bezier(0.76, -0.265, 0.195, 1.26);
  transition-property: left, right, top, bottom;
}
.contactcharacter .thoughts .abouttype {
  text-align: center;
  padding: 90px 80px 60px 100px;
}

.contactcharacter .thoughts .abouttype #ima {
  font-size: 40px;
  text-transform: uppercase;
}

.contactcharacter .thoughts .abouttype p {
    font-family: 'open sans', sans-serif;
  font-size: 24px;
  line-height: 1.45em;
}
.contactcharacter .thoughts .abouttype p:nth-child(1) {
  margin-bottom: 0;
}
.contactcharacter .thoughts .abouttype p:nth-child(3) {
  margin-top: 0;
}
.contactcharacter .thoughts .imawhat {
  display: none;
}
.contactcharacter .thoughts .bubble {
  animation: bob 2s ease-in-out infinite alternate;
}
.contactcharacter .thoughts .bubble:nth-child(2) {
/*    display: none;*/
  width: 120px;
  height: 116px;
  top: 40px;
  left: -100px;
  background-position: -191px -472px;
  animation-delay: 0s;
  transition: all 1s cubic-bezier(0.76, -0.265, 0.195, 1.26);
  transition-property: left, right, top, bottom;
}
.contactcharacter .thoughts .bubble:nth-child(3) {
  width: 91px;
/*    display: none;*/
  height: 86px;
  top: 80px;
  left: -190px;
  background-position: -86px -472px;
  animation-delay: 2s;
  transition: all 1s cubic-bezier(0.76, -0.265, 0.195, 1.26);
  transition-property: left, right, top, bottom;
}
.contactcharacter .thoughts .bubble:nth-child(4) {
  width: 67px;
  height: 65px;
/*    display: none;*/
  top: 120px;
  left: -260px;
  background-position: 0px -474px;
  animation-delay: 1s;
  transition: all 1s cubic-bezier(0.76, -0.265, 0.195, 1.26);
  transition-property: left, right, top, bottom;
}
.contactcharacter .contactme {
  width: 207px;
  height: 196px;
  bottom: -3px;
  right: 309px;
  background-position: -300px -856px;
  cursor: pointer;
}
.contactcharacter .contactme .arrow {
  width: 263px;
  height: 146px;
  top: -95px;
  left: -23px;
  background-position: -17px -856px;
  animation: bob 1s ease-in-out infinite alternate;
  cursor: arrow;
}

.contactcharacter button {
  position: absolute;
  bottom: 0;
  right: 0;
}
.contactcharacter .contact {
  width: 750px;
  position: absolute;
  left: 50%;
  bottom: -40px;
  transform: translateY(360px);
  margin-left: -375px;
}
.contactcharacter .contact.inactive {
  animation: popout 0.5s forwards linear;
}
.contactcharacter .contact.active {
  animation: popin 0.35s forwards linear;
}
.contactcharacter .contact.active .closer {
  background: #333;
  border: 2px solid white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  top: -15px;
  left: -15px;
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  border-radius: 15px;
}
.contactcharacter .contact.active .closer:after, .contactcharacter .contact.active .closer:before {
  content: " ";
  position: absolute;
  top: 11px;
  left: 4px;
  width: 18px;
  height: 4px;
  background: white;
}
.contactcharacter .contact.active .closer:after {
  transform: rotate(45deg);
}
.contactcharacter .contact.active .closer:before {
  transform: rotate(-45deg);
}

@keyframes blink {
  0% {
    background-position: -788px -1246px;
  }
  90% {
    background-position: -788px -1246px;
  }
  100% {
    background-position: -788px -1294px;
  }
}
@keyframes blink-fast {
  0% {
    background-position: -788px -1246px;
  }
  50% {
    background-position: -788px -1246px;
  }
  100% {
    background-position: -788px -1294px;
  }
}
@keyframes blink-fast-small {
  0% {
    background-position: -559px -884px;
  }
  50% {
    background-position: -559px -884px;
  }
  100% {
    background-position: -559px -920px;
  }
}
@keyframes blink-medium {
  0% {
    background-position: -559px -884px;
  }
  90% {
    background-position: -559px -884px;
  }
  100% {
    background-position: -559px -920px;
  }
}
@keyframes twitch {
  0% {
    transform: rotateZ(-24deg);
  }
  25% {
    transform: rotateZ(-25deg);
  }
  50% {
    transform: rotateZ(-23deg);
  }
  75% {
    transform: rotateZ(-25deg);
  }
  100% {
    transform: rotateZ(-24deg);
  }
}
@keyframes twitch-medium {
  0% {
    background-position: -578px -1px;
  }
  50% {
    background-position: -578px -1px;
  }
  100% {
    background-position: -720px -1px;
  }
}
@keyframes bob {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}
@keyframes steam {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popin {
  0% {
    transform: translateY(350px) rotateZ(2.2deg);
  }
  38% {
    transform: translateY(100px) rotateZ(7deg);
  }
  52% {
    transform: translateY(25px) rotateZ(7deg);
  }
  71% {
    transform: translateY(-70px) rotateZ(-0.8deg);
  }
  86% {
    transform: translateY(-65px) rotateZ(-4.1deg);
  }
  90% {
    transform: translateY(-54px) rotateZ(-3.3deg);
  }
  100% {
    transform: translateY(-40px) rotateZ(0deg);
  }
}
@keyframes popout {
  0% {
    transform: translateY(-40px) rotateZ(0deg);
  }
  38% {
    transform: translateY(-54px) rotateZ(-3.3deg);
  }
  52% {
    transform: translateY(-65px) rotateZ(-4.1deg);
  }
  71% {
    transform: translateY(-70px) rotateZ(-0.8deg);
  }
  86% {
    transform: translateY(25px) rotateZ(7deg);
  }
  90% {
    transform: translateY(100px) rotateZ(7deg);
  }
  100% {
    transform: translateY(360px) rotateZ(0deg);
  }
}
@keyframes wiggle {
  0% {
    transform: translateY(-5px) rotateZ(5deg);
  }
  100% {
    transform: translateY(-5px) rotateZ(-5deg);
  }
}
@keyframes pulse-hover {
  0% {
    fill-opacity: 0.8;
  }
  100% {
    fill-opacity: 1;
  }
}
.contact {
  width: 600px;
}

form {
  background: rgba(0,10,0,0.4);
  padding: 20px;
  transition: all 2s ease;
    font-weight: 900;
/*    border: 1px solid white;*/
    border-bottom: none;
}

input[type="text"], input[type="email"], textarea {
  padding: 10px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  border: none;
/*  background: #8f9c2e;*/
    background: rgba(0,0,0,0.6);
/*  color: #eff3d6;*/
    color: white;
  letter-spacing: 1px;
    border-left: 2px solid rgba(255,255,255,0.5);
    border-radius: 0;
    font-family: 'open sans', sans-serif;
  transition: all 0.5s ease;
}
input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    border-left: 3px solid rgba(255,255,255,0.9);
  outline: none;
}

input[type="text"], input[type="email"] {
  width: 100%;
}

.input {
  width: 100%;
}

textarea {
  height: 200px;
  resize: none;
}

.contact .input.error {
  border-left: 5px solid red;
  animation: borderColor 0.5s ease-in-out infinite alternate;
}

::-webkit-input-placeholder {
  color: #999;
  letter-spacing: 1px;
}

input[type="submit"] {
  background: rgba(0,0,0,0.4);
  margin-top: 10px;
  border: none;
  padding: 10px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  position: relative;
    font-family: 'open sans', sans-serif;
    font-weight: 600;
  transition: all 0.1s ease;
}
input[type="submit"]:hover, input[type="submit"]:focus {
  outline: none;
  transform: translateY(-3px);
  box-shadow: 0 3px 0 orange;
}
input[type="submit"]:active {
  transform: translateY(0);
  box-shadow: none;
  background: #7d8828;
}

@keyframes borderColor {
  0% {
    border-color: red;
  }
  100% {
    border-color: #990000;
  }
}